<div class="post" data-price="{{price}}" data-city="{{city}}" data-condition="{{condition}}">
  <div class="post-contents">
    <div class="post-image-container">
      <img src="{{photoURL}}" alt="{{description}}">
    </div>
    <div class="post-info-container">
      <a href="#" class="post-title">{{description}}</a> <span class="post-price">${{price}}</span> <span class="post-city">({{city}})</span>
    </div>
  </div>
</div>
